@model Brew.ViewModels.Recipes.CommentsRecipeViewModel

<div>
    <img height="300" width="300" src="@Url.Action("Index", "BeerImage", new { name = Model.BeerName })"/>
</div>
<section>
    <h1>Overview</h1>
    <dl>
        <dt>@Html.DisplayNameFor(m => m.BeerName)</dt>
        <dd>@Html.DisplayTextFor(m => m.BeerName)</dd>
    </dl>
</section>

<section>
    <h1>Community</h1>
    <dl>
        <dt>@Html.DisplayNameFor(m => m.YourRating)</dt>
        <dd>@Html.DisplayTextFor(m => m.YourRating)</dd>
        <dt>@Html.DisplayNameFor(m => m.SiteRating)</dt>
        <dd>@Html.DisplayTextFor(m => m.SiteRating)</dd>
        <dt>@Html.DisplayNameFor(m => m.AvgRating)</dt>
        <dd>@Html.DisplayTextFor(m => m.AvgRating)</dd>
        <dt>@Html.DisplayNameFor(m => m.PostedDate)</dt>
        <dd>@Html.DisplayTextFor(m => m.PostedDate)</dd>
    </dl>
</section>

<section>
    <h1>Top 3 Flavors:</h1>
    <dl>
        <dt>@Model.Top3Flavors.Item1</dt>
        <dt>@Model.Top3Flavors.Item2</dt>
        <dt>@Model.Top3Flavors.Item3</dt>
    </dl>
</section>

<br /> <br /> <br /> <br /> <br />

<h1>Comments for @Html.DisplayTextFor(m => m.BeerName)</h1>

<table>
    <thead>
        <tr>
            <th scope="col">Flavor</th>
            <th scope="col">Text</th>
            <th scope="col">Poster</th>        
        </tr>
    </thead>
    <tbody>
        @foreach (var comment in Model.Comments)
        {
            <tr>                
                <td>@comment.Flavor</td>
                <td>@comment.Text</td>
                <td>@comment.Poster</td>
            </tr>
        }
    </tbody>
</table>

@if (Request.IsAuthenticated) {
    using (Html.BeginForm("CreateComment", "Recipes"))
    {
    
        <fieldset>
            <legend>Overview</legend>
            <p>
                @Html.DropDownListFor(
                    m => m.Flavor, 
                    new SelectList(Model.Flavors),
                    "-- Select Flavor --"
                )
            </p>
            <p>
                @Html.LabelFor(m => m.Text)
                @Html.TextAreaFor(m => m.Text)
                @Html.ValidationMessageFor(m => m.Text)

                @Html.HiddenFor(m => m.BeerName)
            </p>  
        <BR />
        </fieldset>
        <input type="submit" value="Submit Comment" />
    }
}