@model Brew.ViewModels.Recipes.DetailRecipeViewModel

<div>
    <img src="@Url.Action("Index", "BeerImage", new { name = Model.BeerName })"/>
</div>

<section>
    <h1>Overview</h1>
    <dl>
        <dt>@Html.DisplayNameFor(m => m.BeerName)</dt>
        <dd>@Html.DisplayTextFor(m => m.BeerName)</dd>
        <dt>@Html.DisplayNameFor(m => m.Style)</dt>
        <dd>@Html.DisplayTextFor(m => m.Style)</dd>
        <dt>@Html.DisplayNameFor(m => m.RecipeType)</dt>
        <dd>@Html.DisplayTextFor(m => m.RecipeType)</dd>
        <dt>@Html.DisplayNameFor(m => m.Abv)</dt>
        <dd>@Html.DisplayTextFor(m => m.Abv)</dd>
    </dl>
</section>

<section>
    <h1>Stats</h1>
    <dl>
        <dt>@Html.DisplayNameFor(m => m.OriginalGravity)</dt>
        <dd>@Html.DisplayTextFor(m => m.OriginalGravity)</dd>
        <dt>@Html.DisplayNameFor(m => m.FinalGravity)</dt>
        <dd>@Html.DisplayTextFor(m => m.FinalGravity)</dd>
        <dt>@Html.DisplayNameFor(m => m.Carbonation)</dt>
        <dd>@Html.DisplayTextFor(m => m.Carbonation)</dd>
        <dt>@Html.DisplayNameFor(m => m.Color)</dt>
        <dd>@Html.DisplayTextFor(m => m.Color)</dd>
    </dl>
</section>

<section>
    <h1>Ingredients</h1>
    <section>
        <h2>Hops</h2>
        <ul>
        @foreach (var hop in Model.HopsUsed)
        { 
            <li>@hop.Name</li>
        }
        </ul>
    </section>
    <section>
        <h2>Fermentables</h2>
        <ul>
        @foreach (var f in Model.FermentablesUsed)
        { 
            <li>@f.Name</li>
        }
        </ul>
    </section>
</section>

<section>
    <h1>Community</h1>
    <dl>
        <dt>@Html.DisplayNameFor(m => m.YourRating)</dt>
        <dd>@Html.DisplayTextFor(m => m.YourRating)</dd>
        <dt>@Html.DisplayNameFor(m => m.SiteRating)</dt>
        <dd>@Html.DisplayTextFor(m => m.SiteRating)</dd>
        <dt>@Html.DisplayNameFor(m => m.AvgRating)</dt>
        <dd>@Html.DisplayTextFor(m => m.AvgRating)</dd>
        <dt>@Html.DisplayNameFor(m => m.PostedDate)</dt>
        <dd>@Html.DisplayTextFor(m => m.PostedDate)</dd>
    </dl>
</section>