@model Brew.ViewModels.Ingredients.IngredientListViewModel

<table>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Alpha</th>
            <th scope="col">Beta</th>
            <th scope="col">Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hop in Model.Hops.CurrentPage)
        {
            <tr>
                <td>@Html.ActionLink(hop.Name, "Show", "Ingredients", new { name = hop.Name, type = "hop" }, null)</td>
                <td>@hop.Alpha</td>
                <td>@hop.Beta</td>
                <td>@hop.Type</td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Hops.HasPreviousPage)
{
    @Html.ActionLink("<<", "List", "Ingredients", new { pageno = Model.Hops.CurrentPageNumber - 1, type = Model.Type }, null);
}
@if (Model.Hops.HasNextPage)
{
    @Html.ActionLink(">>", "List", "Ingredients", new { pageno = Model.Hops.CurrentPageNumber + 1, type = Model.Type }, null);
}