@model Brew.ViewModels.Ingredients.IngredientListViewModel

@helper BuildTab(string type, string displayName)
{
    if (String.Compare(type, Model.Type, true) == 0)
    {
        @Html.ActionLink(displayName, "List", new { type = type }, new { Id = "current" });
    }
    else
    {
        @Html.ActionLink(displayName, "List", new { type = type });
    }
}

@section sortRecipes {
    <nav>
        <ul class="sortRecipes">
            <li>Recipes</li>
            <li>@BuildTab("hop", "Hops")</li>
            <li>@BuildTab("fermentable", "Fermentables")</li>
        </ul>
    </nav>
}

@if(Model.Type == "hop")
{
    @Html.Partial("_HopTable")
}
else if (Model.Type == "fermentable")
{ 
    @Html.Partial("_FermentableTable")
}
