@model Brew.ViewModels.Recipes.DetailRecipeViewModel

@using (Html.BeginForm("Update", "Recipes"))
{
    <fieldset>
        <legend>Overview</legend>
        <p>
            @Html.LabelFor(m => m.BeerName)
            @Html.TextBoxFor(m => m.BeerName)
            @Html.ValidationMessageFor(m => m.BeerName)
        </p>
        <p>
            @Html.LabelFor(m => m.Style)
            @Html.TextBoxFor(m => m.Style)
            @Html.ValidationMessageFor(m => m.Style)
        </p>
        <p>
            @Html.LabelFor(m => m.RecipeType)
            @Html.TextBoxFor(m => m.RecipeType)
            @Html.ValidationMessageFor(m => m.RecipeType)
        </p>
        <p>
            @Html.LabelFor(m => m.Abv)
            @Html.TextBoxFor(m => m.Abv)
            @Html.ValidationMessageFor(m => m.Abv)
        </p>
    </fieldset>

    <fieldset>
        <legend>Stats</legend>
        <p>
            @Html.LabelFor(m => m.OriginalGravity)
            @Html.TextBoxFor(m => m.OriginalGravity)
            @Html.ValidationMessageFor(m => m.OriginalGravity)
        </p>
        <p>
            @Html.LabelFor(m => m.FinalGravity)
            @Html.TextBoxFor(m => m.FinalGravity)
            @Html.ValidationMessageFor(m => m.FinalGravity)
        </p>
        <p>
            @Html.LabelFor(m => m.Carbonation)
            @Html.TextBoxFor(m => m.Carbonation)
            @Html.ValidationMessageFor(m => m.Carbonation)
        </p>
        <p>
            @Html.LabelFor(m => m.Color)
            @Html.TextBoxFor(m => m.Color)
            @Html.ValidationMessageFor(m => m.Color)
        </p>
    </fieldset>

    <section>
        <h1>Ingredients</h1>
        <section>
            <h2>Hops</h2>
            <div id ="hopList">
                <ul>                  
                    @for (int i = 0; i < Model.HopsUsed.Count; i++)
                    {
                        <li>
                            <span>
                                @Model.HopsUsed[i].Name <input type ="submit" name="submission" value="Delete Hop @Model.HopsUsed[i].Name" />
                                @Html.HiddenFor(m => Model.HopsUsed[i].Name)
                                @Html.HiddenFor(m => Model.HopsUsed[i].Beta)  
                                @Html.HiddenFor(m => Model.HopsUsed[i].Alpha)  
                                @Html.HiddenFor(m => Model.HopsUsed[i].PercentCohumulone)  
                                @Html.HiddenFor(m => Model.HopsUsed[i].PercentCaryophyllene)
                                @Html.HiddenFor(m => Model.HopsUsed[i].PercentHumulene)    
                                @Html.HiddenFor(m => Model.HopsUsed[i].PercentMyrcene)                              
                            </span>
                        </li>
                    }
                </ul>
                @for (int i = 0; i < Model.RemovedHops.Count; i++)
                {
                    @Html.HiddenFor(m => Model.RemovedHops[i])
                }
            </div>
            @Html.TextBoxFor(m=>m.HopToAdd.Name, "Add Hop", new {@id = "addHopSearch"})
            <input type ="submit" name="submission" value="Add Hop" class="addItem" />
            @Html.ActionLink("Create New Hop", "Create", "Ingredients", new {type = "hop"}, new {@class = "openNewHop", data_newHop_id = "newHopDialog", data_newHop_title = "New Hop"})
        </section>
        <section>
        <h2>Fermentables</h2>
            <div id ="fermentableList">
                <ul>
                    @for (int i = 0; i < Model.FermentablesUsed.Count; i++)
                    {
                        <li>
                            <span>
                                @Model.FermentablesUsed[i].Name <input type ="submit" name="submission" value="Delete Fermentable @Model.FermentablesUsed[i].Name" />
                                @Html.HiddenFor(m => Model.FermentablesUsed[i].Name)
                                @Html.HiddenFor(m => Model.FermentablesUsed[i].Color)
                                @Html.HiddenFor(m => Model.FermentablesUsed[i].CourseGrainYield)
                                @Html.HiddenFor(m => Model.FermentablesUsed[i].DiastaticPower)
                                @Html.HiddenFor(m => Model.FermentablesUsed[i].Yield)
                            </span>
                        </li>
                    }
                </ul>
                @for (int i = 0; i < Model.RemovedFermentables.Count; i++)
                {
                    @Html.HiddenFor(m => Model.RemovedFermentables[i])
                }
            </div>
            @Html.TextBoxFor(m=>m.FermentableToAdd.Name, "Add Fermentable", new {@id = "addFermentableSearch"})
            <input type ="submit" name="submission" value="Add Fermentable" class="addItem" />
            @Html.ActionLink("Create New Fermentable", "Create", "Ingredients", new {type = "fermentable"}, new {@class = "openNewFermentable", data_newFermentable_id = "newFermentableDialog", data_newFermentable_title = "New Fermentable"})
        </section>
    </section>

    <fieldset>
        <legend>Community</legend>
    </fieldset>
    
    <input type="Submit" name="submission" value="Apply"/>
}