@model Brew.ViewModels.Ingredients.HopViewModel

@using (Ajax.BeginForm("CreateHop", "Ingredients", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "newHopDialog", HttpMethod = "POST" }))
{
        <fieldset>
            <legend>@Model.Name</legend>
        <p>
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
        </p>
        <p>
            @Html.LabelFor(m => m.Alpha)
            @Html.TextBoxFor(m => m.Alpha)
            @Html.ValidationMessageFor(m => m.Alpha)
        </p>
        <p>
            @Html.LabelFor(m => m.Beta)
            @Html.TextBoxFor(m => m.Beta)
            @Html.ValidationMessageFor(m => m.Beta)
        </p>
        <p>
            @Html.LabelFor(m => m.Type)
            @Html.TextBoxFor(m => m.Type)
            @Html.ValidationMessageFor(m => m.Type)
        </p>
        <p>
            @Html.LabelFor(m => m.Stability)
            @Html.TextBoxFor(m => m.Stability)
            @Html.ValidationMessageFor(m => m.Stability)
        </p>
        <p>
            @Html.LabelFor(m => m.PercentCaryophyllene)
            @Html.TextBoxFor(m => m.PercentCaryophyllene)
            @Html.ValidationMessageFor(m => m.PercentCaryophyllene)
        </p>
        <p>
            @Html.LabelFor(m => m.PercentCohumulone)
            @Html.TextBoxFor(m => m.PercentCohumulone)
            @Html.ValidationMessageFor(m => m.PercentCohumulone)
        </p>
        <p>
            @Html.LabelFor(m => m.PercentHumulene)
            @Html.TextBoxFor(m => m.PercentHumulene)
            @Html.ValidationMessageFor(m => m.PercentHumulene)
        </p>
        <p>
            @Html.LabelFor(m => m.PercentMyrcene)
            @Html.TextBoxFor(m => m.PercentMyrcene)
            @Html.ValidationMessageFor(m => m.PercentMyrcene)
        </p>
    </fieldset>
    
    <input type="submit" value="Apply" />
}
