@model Brew.ViewModels.Ingredients.HopViewModel

<section>
    <h1>@Html.DisplayTextFor(m => m.Name)</h1>
    <dl>
        <dt>@Html.DisplayNameFor(m => m.Type)</dt>
        <dd>@Html.DisplayTextFor(m => m.Type)</dd>
        <dt>@Html.DisplayNameFor(m => m.Alpha)</dt>
        <dd>@Html.DisplayTextFor(m => m.Alpha)</dd>
        <dt>@Html.DisplayNameFor(m => m.Beta)</dt>
        <dd>@Html.DisplayTextFor(m => m.Beta)</dd>
        <dt>@Html.DisplayNameFor(m => m.PercentHumulene)</dt>
        <dd>@Html.DisplayTextFor(m => m.PercentHumulene)</dd>
        <dt>@Html.DisplayNameFor(m => m.PercentCohumulone)</dt>
        <dd>@Html.DisplayTextFor(m => m.PercentCohumulone)</dd>
        <dt>@Html.DisplayNameFor(m => m.PercentCaryophyllene)</dt>
        <dd>@Html.DisplayTextFor(m => m.PercentCaryophyllene)</dd>
        <dt>@Html.DisplayNameFor(m => m.PercentMyrcene)</dt>
        <dd>@Html.DisplayTextFor(m => m.PercentMyrcene)</dd>
        <dt>@Html.DisplayNameFor(m => m.Form)</dt>
        <dd>@Html.DisplayTextFor(m => m.Form)</dd>
        <dt>@Html.DisplayNameFor(m => m.Stability)</dt>
        <dd>@Html.DisplayTextFor(m => m.Stability)</dd>
    </dl>
</section>
