@model Brew.ViewModels.Recipes.DetailRecipeViewModel

@section scripts{
    @Html.Partial("_RecipeEditorOnReady")
}

@section sortRecipes {
    <nav>
        <ul class="sortRecipes">
            <li>@Model.BeerName</li>
            <li id="current">@Html.ActionLink("Details", "Show", new {name = Model.BeerName}, null)</li>
            <li>@Html.ActionLink("Comments", "Show", new {name = Model.BeerName}, null)</li>
         </ul>
    </nav>
}

@using (Html.BeginForm("Delete", "Recipes", FormMethod.Post))
{
    @Html.HiddenFor(m => m.BeerName);
    <input type="submit" name="submission" value="Delete Recipe" />
}

@Html.EditorForModel()
