@model Brew.ViewModels.BaseLayoutViewModel

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    @Html.ActionLink("Brew", "List", "Recipes", null, new { @class = "logo"})
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Recipes",  "List", "Recipes")</li>
                        <li>@Html.ActionLink("Styles", "List", "Recipes")</li>
                        <li>@Html.ActionLink("Users", "List", "Recipes")</li>
                        <li>@Html.ActionLink("Ingredients", "List", "Recipes")</li>
                    </ul>
                </nav>
            </div>
        </header>
        <div id="body">         
            <section class="content-wrapper main-content clear-fix">
                @RenderSection("sortRecipes", required: false)
                @RenderBody()
            </section>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jqueryui")
        @RenderSection("scripts", required: false)     
        
    </body>
</html>
